.contain{
  height: 64px;
  width: 166px;
  margin: 50px;
  
}
body{
  display: flex;
  align-items: start;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: steelblue;
}
.ground{
  height: 50%;
  width: 100%;
  background-color: rgb(128, 128, 128);
  justify-content: end;
  display: flex;
}
.sky{
  background-color: aqua;
  border-style: double;
  border-color: darkgray;

}
.icon{
  height: 32px;
  width: 32px;
}
#enemy{
  float: right;
}

#enemyHand{
  float: right;
  opacity: 0.0;
}
.heath{
  height: 32px;
  width: 160px;
}
#result{
  background-color: rgb(10, 53, 39);
  border-style: double;
  border-color: darkgray;
  color: #ffff;
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  height: 64px;
  width: 155px;
  margin-top: 0px;
  margin-bottom: 0px;
}
#music{
  opacity: 0.0;
}